In [6]:
import pandas as pd

In [7]:
df_ref = pd.read_csv('../DwCA/references.csv',sep='|')
df_ref

    occurence_id                              bibliographicCitation
0              2  Catley, A. 1969. The coconut rhinoceros beetle...
1             12  Catley, A. 1969. The coconut rhinoceros beetle...
2             29  Catley, A. 1969. The coconut rhinoceros beetle...
3             34  Catley, A. 1969. The coconut rhinoceros beetle...
4             38  Catley, A. 1969. The coconut rhinoceros beetle...
5             40  Catley, A. 1969. The coconut rhinoceros beetle...
6             41  Catley, A. 1969. The coconut rhinoceros beetle...
7             44  Catley, A. 1969. The coconut rhinoceros beetle...
8             46  Catley, A. 1969. The coconut rhinoceros beetle...
9             47  Catley, A. 1969. The coconut rhinoceros beetle...
10            49  Catley, A. 1969. The coconut rhinoceros beetle...
11            50  Catley, A. 1969. The coconut rhinoceros beetle...
12            54  Catley, A. 1969. The coconut rhinoceros beetle...
13            55  Catley, A. 1969. The coconut rhinoceros beetle...
14            56  Catley, A. 1969. The coconut rhinoceros beetle...
15            57  Catley, A. 1969. The coconut rhinoceros beetle...
16            58  Catley, A. 1969. The coconut rhinoceros beetle...
17            59  Catley, A. 1969. The coconut rhinoceros beetle...
18            60  Catley, A. 1969. The coconut rhinoceros beetle...
19            61  Catley, A. 1969. The coconut rhinoceros beetle...
20            62  Catley, A. 1969. The coconut rhinoceros beetle...
21            63  Catley, A. 1969. The coconut rhinoceros beetle...
22            64  Catley, A. 1969. The coconut rhinoceros beetle...
23            65  Catley, A. 1969. The coconut rhinoceros beetle...
24            67  Catley, A. 1969. The coconut rhinoceros beetle...
25            68  Catley, A. 1969. The coconut rhinoceros beetle...
26            69  Catley, A. 1969. The coconut rhinoceros beetle...
27            70  Catley, A. 1969. The coconut rhinoceros beetle...
28            71  Catley, A. 1969. The coconut rhinoceros beetle...
29             3  Pallipparambil, Godshen 2015. New Pest Respons...
30             4  Pallipparambil, Godshen 2015. New Pest Respons...
31             5  Pallipparambil, Godshen 2015. New Pest Respons...
32             6  Pallipparambil, Godshen 2015. New Pest Respons...
33             8  Pallipparambil, Godshen 2015. New Pest Respons...
34            11  Pallipparambil, Godshen 2015. New Pest Respons...
35            13  Pallipparambil, Godshen 2015. New Pest Respons...
36            16  Pallipparambil, Godshen 2015. New Pest Respons...
37            17  Pallipparambil, Godshen 2015. New Pest Respons...
38            18  Pallipparambil, Godshen 2015. New Pest Respons...
39            20  Pallipparambil, Godshen 2015. New Pest Respons...
40            21  Pallipparambil, Godshen 2015. New Pest Respons...
41            22  Pallipparambil, Godshen 2015. New Pest Respons...
42            24  Pallipparambil, Godshen 2015. New Pest Respons...
43            27  Pallipparambil, Godshen 2015. New Pest Respons...
44            33  Pallipparambil, Godshen 2015. New Pest Respons...
45            36  Pallipparambil, Godshen 2015. New Pest Respons...
46            42  Pallipparambil, Godshen 2015. New Pest Respons...
47            45  Pallipparambil, Godshen 2015. New Pest Respons...
48            48  Pallipparambil, Godshen 2015. New Pest Respons...
49            51  Pallipparambil, Godshen 2015. New Pest Respons...

In [8]:
df_occ = pd.read_csv('../DwCA/occurrence.txt',sep='|')
df_occ

,id,eventDate,country,stateProvince,islandGroup,island,locality,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,georeferenceRemarks,associatedReferences
0,1,1991-01-01,Japan,Amami,NaN,NaN,NaN,28.326100,129.427600,1000,NaN,NaN
1,2,1800-01-01,Indonesia,Ambon Island,NaN,NaN,NaN,-3.620000,128.100000,1000,NaN,NaN
2,3,1800-01-01,India,Andhra Pradesh,NaN,NaN,NaN,15.912900,79.739987,1000,NaN,NaN
3,4,1800-01-01,India,Arunachal Pradesh,NaN,NaN,NaN,28.217999,94.727753,1000,NaN,NaN
4,5,1800-01-01,India,Assam,NaN,NaN,NaN,26.200604,92.937574,1000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,2023-09-01,Republic of the Marshall Islands,Majuro,NaN,NaN,NaN,7.055800,171.244400,1000,NaN,NaN
78,79,2023-05-01,USA,Hawaii,Hawaiian Islands,Kauai Island,NaN,21.876100,-159.338900,1000,NaN,NaN
79,80,2023-10-11,USA,Hawaii,Hawaiian Islands,Hawaii Island,NaN,19.941400,-155.792700,1000,NaN,NaN
80,81,2023-11-01,USA,Hawaii,Hawaiian Islands,Maui Island,Kihei,20.756004,156.452977,5000,NaN,NaN
81,82,2024-01-07,Timor-Leste,NaN,Lesser Sunda Islands,Timor Island,Dili,-8.560657,125.556500,5000,Centroid of Dili,"Paudel, S. et al. 2024. Confirmation of coconu..."

In [26]:
print(df_ref.columns)

for i, r in df_ref.iterrows():
    df_occ.loc[df_occ.id == r.occurence_id, 'associatedReferences'] = r.bibliographicCitation

df_occ

Index(['occurence_id', 'bibliographicCitation'], dtype='object')

,id,eventDate,country,stateProvince,islandGroup,island,locality,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,georeferenceRemarks,associatedReferences
0,1,1991-01-01,Japan,Amami,NaN,NaN,NaN,28.326100,129.427600,1000,NaN,NaN
1,2,1800-01-01,Indonesia,Ambon Island,NaN,NaN,NaN,-3.620000,128.100000,1000,NaN,"Catley, A. 1969. The coconut rhinoceros beetle..."
2,3,1800-01-01,India,Andhra Pradesh,NaN,NaN,NaN,15.912900,79.739987,1000,NaN,"Pallipparambil, Godshen 2015. New Pest Respons..."
3,4,1800-01-01,India,Arunachal Pradesh,NaN,NaN,NaN,28.217999,94.727753,1000,NaN,"Pallipparambil, Godshen 2015. New Pest Respons..."
4,5,1800-01-01,India,Assam,NaN,NaN,NaN,26.200604,92.937574,1000,NaN,"Pallipparambil, Godshen 2015. New Pest Respons..."
...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,2023-09-01,Republic of the Marshall Islands,Majuro,NaN,NaN,NaN,7.055800,171.244400,1000,NaN,NaN
78,79,2023-05-01,USA,Hawaii,Hawaiian Islands,Kauai Island,NaN,21.876100,-159.338900,1000,NaN,NaN
79,80,2023-10-11,USA,Hawaii,Hawaiian Islands,Hawaii Island,NaN,19.941400,-155.792700,1000,NaN,NaN
80,81,2023-11-01,USA,Hawaii,Hawaiian Islands,Maui Island,Kihei,20.756004,156.452977,5000,NaN,NaN
81,82,2024-01-07,Timor-Leste,NaN,Lesser Sunda Islands,Timor Island,Dili,-8.560657,125.556500,5000,Centroid of Dili,"Paudel, S. et al. 2024. Confirmation of coconu..."

In [28]:
df_occ.to_csv('../DwCA/occurrence.txt', index=False, sep='|')